# Gradle
.gradle/
build/
*/build/
**/build/
*.class

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex

# Maven
target/
*.jar
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Kotlin
*.kotlin_module
